<div id="carousel_controls">
	<a href="#" id="carousel_prev">PREVIOUS</a> 
	<span id="carousel_no">1</span>/<span id="carousel_total">1</span>
	<a href="#" id="carousel_next">NEXT</a>
</div>

<div id="carousel_wrapper">
<ul id="carousel">
	<!-- populated by javascript -->
	<li id="slide_1">
		<div class="carousel_media">
			<img src="{{ STATIC_URL }}img/blank.png" alt=""/>
			<div class="carousel_overlay"></div>
		</div>
		<p class="regular_copy_font"></p>
	</li>
	<li id="slide_2">
		<div class="carousel_media">
			<img src="{{ STATIC_URL }}img/blank.png" alt=""/>
			<div class="carousel_overlay"></div>
		</div>
		<p class="regular_copy_font"></p>
	</li>
	<li id="slide_3">
		<div class="carousel_media">
			<img src="{{ STATIC_URL }}img/blank.png" alt=""/>
			<div class="carousel_overlay"></div>
		</div>
		<p class="regular_copy_font"></p>
	</li>
	<li id="slide_4">
		<div class="carousel_media">
			<img src="{{ STATIC_URL }}img/blank.png" alt=""/>
			<div class="carousel_overlay"></div>
		</div>
		<p class="regular_copy_font"></p>
	</li>
	<li id="slide_5">
		<div class="carousel_media">
			<img src="{{ STATIC_URL }}img/blank.png" alt=""/>
			<div class="carousel_overlay"></div>
		</div>
		<p class="regular_copy_font"></p>
	</li>	
</ul>
</div>